* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background-color: #b1b6a6;
  --header-color: #3b3561;
  --font-color: #d1495b;
  --icons-button-color: #ff7f11;
  --generic-color: #0b7a75;
}
body {
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 60px 40px;
}
