.card {
  background-color: var(--generic-color);
  border: 1px white solid;
  border-radius: 12px;
  color: var(--font-color);
  z-index: 15;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.card-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 16;
  margin: 5px;
}
.card-top h3 {
  color: var(--icons-button-color);
}
.card-top a i {
  position: absolute;
  right: 15px;
  top: -5px;
  color: var(--icons-button-color);
}
.card p {
  margin: 20px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.answer {
  width: 50%;
  background-color: var(--icons-button-color);
  color: var(--generic-color);
}

.tags {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.tags span {
  border: 2px dotted var(--icons-button-color);
  border-radius: 5px;
  width: 45%;
  background-color: var(--font-color);
  color: var(--icons-button-color);
  font-weight: 600;
  text-align: center;
}
.tags span:before {
  content: "#";
  margin-right: 5px;
}
