.card {
  background-color: var(--generic-color);
  border: 1px white solid;
  border-radius: 12px;
  color: var(--font-color);
  z-index: 15;
}
.card-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 16;
  margin: 5px;
}
.card-top h3 {
  color: var(--icons-button-color);
}
.card-top a i {
  position: absolute;
  right: 15px;
  top: -5px;
  color: var(--icons-button-color);
}
.card p {
  margin: 20px;
}
