header {
  background-color: var(--header-color);
  color: var(--icons-button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100vw;
  z-index: 10;
}
