.add-question-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  color: var(--icons-button-color);
  background-color: var(--header-color);
  border-radius: 25px;
  font-weight: 700;
}
textarea {
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--background-color);
  color: var(--generic-color);
}
label {
  margin: 10px;
}
::placeholder {
  color: var(--generic-color);
}
.submit-button {
  background-color: var(--icons-button-color);
  color: var(--generic-color);
  width: 80px;
  height: 35px;
  margin: 20px auto;
}
