.profile-info {
  display: flex;
  align-items: center;
  margin: 10px;
  color: var(--icons-button-color);
}
.profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 10px;
}
.username::before {
  content: " @";
}
.aboutMe {
  margin: 20px;
  color: var(--header-color);
}
.aboutMe h5,
.my-tags h5 {
  color: var(--icons-button-color);
  margin-bottom: 10px;
}
.text-about-me {
  color: var(--generic-color);
}
.my-tags {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.my-tags ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  list-style: "";
  border-radius: 5px;
}
.my-tags ul li::before {
  content: "# ";
}
.my-tags ul li {
  background-color: var(--generic-color);
  color: var(--font-color);
  border-radius: 5px;
  padding: 5px 5px;
}
.logout {
  color: white;
  font-weight: 800;
  background-color: red;
  border-radius: 15px;
  width: 100px;
  height: 25px;
  margin-top: 30px;
}
.profile-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
